@charset "utf-8";

body{
    background-color: firebrick;
}

.canvas{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.pixel{
    border: 2px black solid;
    height: 20px;
    width: 20px;
}

.palette{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.color{
    border: 5px black solid;
    height: 50px;
    width: 50px;
}

.white{
    background-color: white;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.indigo{
    background-color: indigo;
}

.violet{
    background-color: violet;
}

/* TO DO: Make it look pretty. Michael can probably help. Mouse pointer alteration to a brush probably also occurs
here and not in the javascript.*/