@charset "utf-8";


.canvas{
    display: flex;
    flex-direction: row;
}

.pixel{
    border: 2px black solid;
    height: 20px;
    width: 20px;
}

.palette{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.color{
    border: 5px black solid;
    height: 50px;
    width: 50px;
}

.white{
    background-color: white;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

/* produce more colors and make a name array so you can generate that shit */